<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= @title %></title>
  <%= erb :'partial/cdn' %>
</head>
<body>
  <%= yield %>
</body>
</html>
