<footer class="footer">
  <div class="content has-text-centered">
    <p class="has-text-grey-light">
      <a href="https://bulma.io/made-with-bulma/">
        <img src="https://bulma.io/images/made-with-bulma.png" alt="Made with Bulma" width="128" height="24">
      </a>
      <br>
      This page is <strong class="has-text-grey">open source</strong>.
      Noticed a typo? Or something unclear?
    </p>
  </div>
</footer>
